table,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin-top: 2%;
    text-align: center;
    margin-left: 2%;
    font-size: 15;
}

#gridContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    margin-top: 2%;
    margin-left: 2%;
}

table img {
    width: 200px;
    height: 200px;
}

.quantityButton {
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#deleteItemIcon {
    cursor: pointer;
}


/* Summary */ 

#gridItem2 {
    background-color: rgb(237, 237, 237);
    margin-right: 20%;
    height: 30vh;
    border-radius: 10px;
    margin-top: 4%;
    padding: 10px;
    margin-top: 15%;
}

#reviewHeading {
    margin-left: 2%;
}

#orderSummary {
    width: 100%;
}

.orderSummaryTotal {
    margin-right: 2%;
}

.summaryRow {
    display: flex;
    justify-content: space-between;
}

.summaryRow p:first-child {
    margin-right: 10px;
}

.summaryRow p:last-child {
    text-align: right;
}

#checkoutButton {
    background-color: #02c308;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10%;
    cursor: pointer;
    margin-left: 110%;
    color: white;
}

#checkoutButton:hover {
    background-color: #019c0c;
}

.checkoutButton a {
    text-decoration: none;
}


/* Media Queries */

@media screen and (max-width: 1450px) {
    table {
        font-size: 18px;
    }

    table, #reviewHeading, #gridItem2 {
        margin-left: 0;
    }

    #summaryHeading {
        margin-left: 0.1%;
    }

    table img {
        width: 125px;
        height: 125px;
    
    }

    #gridContainer {
        display: flex;
        flex-direction: column;
    }

    #gridItem2 {
        margin-right: 0;
        font-size: 18px;
    }

    #checkoutButton {
        margin-left: 1%;
    }
}

@media screen and (max-width: 900px) {
    table {
        font-size: 16px;
    }
}

