/* Accordion */

.accordion {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}


/* Form Groups */

.formGroup {
    margin-top: 2%;
}

.formGroup .textbox {
    width: 50%;
    margin-left: 10%;
    margin-bottom: 2%;
}

.formGroup .textbox {
    margin-left: 10%;
    margin-bottom: 2%;
}


/* Labels */

#firstName,
#lastName {
    margin-left: 4.8%;
}

#address {
    margin-left: 7.8%;
}

#email {
    margin-left: 10.7%;
}

#city {
    margin-left: 12%;
}

#province {
    margin-left: 6.8%;
}

#cardNumber {
    margin-left: 2%;
}

#securityCode {
    margin-left: 1.5%;
}

#nameOnCard {
    margin-left: 1%;
}

.formGroup .datePicker {
    margin-left: 10%;
}

.formGroup .securityCodeTextbox {
    width: 15%;
    margin-left: 10%;
    margin-bottom: 2%;
}

#checkoutForm .formGroup .selectContainer {
    display: flex;
}


/* Buttons */

#continueButton {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 35%;
    padding: 2%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #00b006;
    color: white;
}

#placeOrderButton {
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #29bc2e;
    color: white;
    margin-left: 43%;
}

#continueButton:hover,
#placeOrderButton:hover {
    background-color: #008509;
}

#errorMessage {
    color: red;
    margin-left: 34%;
}

#placeOrderErrorMessage {
    color: red;
    margin-left: 36%;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    .accordion {
        margin-left: 10%;
        margin-right: 10%;
    }

    .formGroup .textbox,
    .datePicker {
        width: 75%;
        margin-bottom: 2%;
    }

    .formGroup {
        margin-top: 2%;
    }

    #firstName,
    #lastName,
    #email,
    #address,
    #city,
    #province,
    #cardNumber,
    #nameOnCard,
    #expirationDate,
    #securityCode {
        margin-left: 0%;
    }

    .formGroup .textbox {
        margin-left: 0%;
        margin-bottom: 2%;
        margin-right: 100%;
    }

    .formGroup .datePicker {
        margin-left: 0%;
        margin-bottom: 2%;
        margin-right: 100%;
    }

    .formGroup .securityCodeTextbox {
        margin-left: 0%;
        margin-bottom: 2%;
        margin-right: 100%;
    }

    .formGroup .securityCodeTextbox {
        width: 25%;
    }

}